*{
	padding: 0;
	margin: 0;
}
html{
	height: 100%;
	background-color: lightyellow;
	font-size: 20px;
}
body{
	height: 100%;
}
#main{
	position: relative;
	width: 600px;
	height: 300px;
	background-color: lightblue;
	top: 50%;
	margin-top: -150px;
	left: 50%;
	margin-left: -300px;
	text-align: center;
	font-size: 14px;
	line-height: 16px;
}
#quest{
	position: relative;
	top: 10px;
}
#result{
	position: relative;
	top: 10px;
}